.navLink {
    background-color: chartreuse;
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 5px;
    border: 2px solid chartreuse;
    border-radius: 15px;
}

.navLink:hover {
    color: orangered;
}


.el {
    text-align: center;
    width: 50px;
    height: 25px;
    margin: 10px;
    background: darkgreen;
    border-radius: 10px;
}

.header {
    display: flex;
    width: 370px;
    transition-duration: 500ms;
    transform: translate(-300px);
}

.header:hover {
    transition-duration: 500ms;
    transform: translate(0);
}